*.pyc
*.vscode
build
cacert.pem
privkey.pem

data_server/code/*.txt
data_server/code/*.db
data_server/code/*.txt*
data_server/code/pred
data_server/code/cusfpredict
data_server/code/basic_example.py

webUI/code/habdec_gui
webUI/code/js/test.html
webUI/code/osm
webUI/code/osm/*
data_server/code/test_car.py
data_server/code/bottle_sslify.py
habboy_data/code/habboy_data.db
